# Flutter
build/
.dart_tool/
.packages
pubspec.lock

# Node modules
backend/node_modules/
avtobys-web/backend/node_modules/
react_native_clone/node_modules/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Local env files
.env
.env.*
!.env.example
!backend/.env.example
backend/.env
